###########################################################
#   Planetary system initial configuration
###########################################################

# Planet Name 	Distance	Mass	 Accretion	Feels Disk	Feels Others
NotJupiter	1.0		0.0044	 0.0	  	NO		NO
AlsoNotJupiter	1.7		0.0022	 0.0		NO		NO
